<div class="small-10 columns small-centered">
	<div class="row signup">
		<h1>Log In</h1>
		<%= form_for(:session, url: sessions_path, method: 'POST') do |f| %>
		  <label for="left-label" class="left"><%= f.label :email %> </label>
		  <%= f.text_field :email %>
		  <label for="left-label" class="left"><%= f.label :password %> </label>
		  <%= f.password_field :password %>
	    <%= f.submit "Sign in", class: 'button' %>
    <% end %>
  </div>
</div>


