<% provide(:title, "Login in") %>
<h1>Log in</h1>


  <%= form_for(:session, url: sessions_path, method: 'POST') do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Sign in" %>
  <% end %>
