<h1><%= @flight.airline.name + ' Flight ' + @flight.flight_number %></h1>
<ul>
  <li><%= @flight.departure_airport.name %> (<%= @flight.departure_airport.fs_code %>) to <%= @flight.arrival_airport.name %> (<%= @flight.arrival_airport.fs_code %>)
</ul>
<%= render partial: 'layouts/fleet', locals: {posts: @posts} %>
