<%= form_for @post, url: posts_path do |f| %>

  <div class="row">
    <div class="small-9">
      <div class="small-4 columns">
        <label for="right-label" class="right"><%= "Pick Your Flight:" %></label>
      </div>
      <div class="small-8 columns">
        <span ><%= f.select :flight, @flights %></span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-9">
      <div class="small-4 columns">
        <label for="right-label" class="right"><%= "Post" %></label>
      </div>
      <div class="small-8 columns">
        <span ><%= f.text_area :text, placeholder: "Write a post here" %></span>
      </div>
    </div>
  </div>  
  

  
  <%= label_tag(:satisfied, "Satisfied?") %>



  <label>
  	<input type = "radio" name = "satisfied" value = true>
  	<img width="50" height="85" src="/assets/thumbs-up.png">
  </label>

  <label>
  	<input type = "radio" name = "satisfied" value = false>
  	<img width="50" height="85" src="/assets/thumbs-down.png">
  </label>
  
  <%= f.submit "Flit It!", class: 'button' %> 

<% end %>
